.container {
  width: 100%;
  max-width: 520px;
  height: 500px;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
  border: 1px solid black;
  background-color: white;
}

.header {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
  border-bottom: 1px solid gray;
}

.title {
  font-size: 1.25rem;
}
